export ADDR=:8080
export DB_ADDR=postgres://admin:adminpassword@localhost:5432/socialnetwork?sslmode=disable
export MAILER_URL=sandbox.smtp.mailtrap.io
export MAILER_PORT=2525
export MAILER_USERNAME=3717867dedb13d
export MAILER_PASSWORD=79e9efcb9b501b